bbody{
    background-color: burlywood;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  }
  
  h1,p{
    text-align:center;
  }

  a{
    color:green;
    
  }
  footer{
    text-align: center;
    display:block;
    margin-top:20px;
    
  }
  .footer-link{
    padding:20px;
  }
   
 img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
}

p {
    line-height: 1.5;
    font-size: 20px;
    margin: 20px 0 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;

}

  
  .container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 60px;
    background-color:#57CBC8;
    background:radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);;
    border-radius: 10px;
  }

  footer{
    text-align: center;
    display:block;
    margin-top:20px;
    
  }
  .footer-link{
    padding:20px;
  }


  