body {
    background-color: pink;
    font-family: "Roboto", sans-serif;
    margin: 60px auto;
    max-width: 800px;
  }
  
  h1 {
    text-align: center;
    background-color: #8F309A;
    background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
    color: #FFFFFF;
    font-weight: normal;
    font-size: 96px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
    padding: 15px 20px; 
  }
  
   
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .about-paragraphs {
    display: flex;
    margin: 30px 0;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }

  .container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 60px;
    background-color:#57CBC8;
    background:radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);;
    border-radius: 10px;
}
  